.forma{
	width: 30%;
	border: 5px solid green;
	border-radius: 5px;
	text-align: center;
}
p {
	text-align: center;
}
#message {
	color: red;
}
input{
	margin: 3% 0 0 0;
	

}
input[type="submit"]{
	margin: 3% 0 5% 0;
	

}
input[type="submit"]:hover{
	background-color: green;
	color: #fff;
}
input[type="text"]:hover,
input[type="text"]:active {
	background-color: #000;
	color: #fff;
}
.find{
    box-sizing: border-box;
    position: absolute;
    width: inherit;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba( 0, 0, 0, 0.2 );
}

.find-hidden {
    display: none;
}

.find_list {
    margin: 0;
    padding: 0;
}

.find-city__item {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
}

.find-city__item:hover {
    background-color: #e5e5e5;
}
