.container{
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

button,
li {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
button:hover,
li:hover { background: rgb(53, 167, 110); }
button:active,
li:hover {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
ul{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
ul > li {
  list-style-type: none;
  padding: 5px;
  text-align: center;
}
ul > li > a{
  text-decoration: none;
  color: white;

}